* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-Light-webfont.woff") format("woff");
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  display: flex;
  background-image: url(images/795184465.jpg);
  flex-direction: column;
}

.page {
  display: flex;

  width: 150vh;
  height: 70vh;
  margin: auto;
  border-radius: 15px;
  justify-content: space-between;
}

.col {
  border: 3px solid #001429;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
  justify-content: space-around;
  flex: initial;
  width: 29vh;
  /* border: 10px solid red; */
}

.col h2 {
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  transition: background 0.3s;
}

.col h2:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.col button {
  outline: none;
  border: none;
  background: transparent;
  font-size: 1.5rem;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  transition: background 0.3s;
}

.col button:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 3rem;
  color: #d4dcfa;
}
